---
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'

import Clients from '@components/Clients.astro'
import EditorialClients from '@components/EditorialClients.astro'
import Testimonials from '@components/Testimonials.astro'

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'about black'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage='../og_home.jpg'
>
  <article>
    <h1 class='h3 container'>Made Their Offer Recognisable.</h1>

    <Testimonials />

    <h2>Automated Recurring Tasks. <br /> <br />Helped deliver The Message.</h2>

    <Clients />

    <EditorialClients />

    <h2>
      <a class='bottom_link' href='/photography/'>Ready to Shine?</a>
    </h2>

    <div>
      <label for='nav'>
        <div class='container'>SEE ALL!</div>
      </label>
    </div>
  </article>
</Layout>

<style lang='scss'></style>
