---
import Layout from '@layouts/Layout.astro'
import * as siteData from '@data/site.json'

import Clients from '@components/Clients.astro'
import EditorialClients from '@components/EditorialClients.astro'
import Testimonials from '@components/Testimonials.astro'

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = 'about black'
const mainClass = 'no_padding'
const pageTitle = 'empowers'
const pageDesc = siteData.description
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage='../og_home.jpg'
>
  <article>
    <h1 class='h3 container'>ABOUT ROKMA.</h1>

    <Testimonials />

    <Clients />

    <EditorialClients />

    <h2>
      <a class='bottom_link' href='/photography/'>Ready to Shine?</a>
    </h2>
  </article>
</Layout>
<style>
  article {
    padding-top: 1rem;
  }
</style>
