---
import Layout from '@layouts/Layout.astro'

export interface Props {
  pageTitle: string
  category: string
  year: number
  ogImage?: string
  bodyClass: string
  mainClass: string
  pageDesc: string
}

const bodyClass = ''
const mainClass = ''
const pageTitle = ''
const pageDesc = ''
---

<Layout
  pageTitle={pageTitle}
  bodyClass={bodyClass}
  mainClass={mainClass}
  pageDesc={pageDesc}
  ogImage="">
  <div class="container">
    <h1>HEADING 1 heading</h1>
    <h2>HEADING 2 heading</h2>
    <h3>HEADING 3 heading</h3>
    <h4>HEADING 4 heading</h4>
    <h5>HEADING 5 heading</h5>
    <h6>HEADING 6 heading</h6>

    <p>
      Paragraph text sample. PARAGRAPH TEXT SAMPLE. See if it is the dimesion
      you want, otherwise change the clamp value in the css
      (@components/Style.astro)
    </p>

    <small>THIS IS A SMALL TEXT | this is a small text</small>
    <br /><br />

    THIS LAST ONE is just a body text with no paragraph! Very funky idea to have
    something like this huh?!
  </div>
</Layout>

<style lang="scss">
  section {
    margin-bottom: 0 !important;
    min-height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--primary_back); // fallback
    background: linear-gradient(var(--primary_back) 5%, var(--primary));
    background-blend-mode: normal;
    a {
      color: var(--primary_front);
      text-decoration: none;
    }
  }
  .all_works {
    padding-top: 5rem;
    padding-bottom: var(--spacing);
  }
  :global(.posts) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    @media (min-width: 701px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
  :global(.post) {
    //a
    text-decoration: none;
    position: relative;
    z-index: 1;
  }
</style>
