/* Lime color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --CIKOtext-selection-color: rgba(119, 156, 0, 0.25);
  --CIKOprimary: #577400;
  --CIKOprimary-background: #a5d601;
  --CIKOprimary-underline: rgba(87, 116, 0, 0.5);
  --CIKOprimary-hover: #435a00;
  --CIKOprimary-hover-background: #99c801;
  --CIKOprimary-focus: rgba(119, 156, 0, 0.25);
  --CIKOprimary-inverse: #000;
  --CIKOswitch-color: var(--CIKOsecondary-hover);
}

/* Lime color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --CIKOtext-selection-color: rgba(130, 171, 0, 0.1875);
    --CIKOprimary: #82ab00;
    --CIKOprimary-background: #a5d601;
    --CIKOprimary-underline: rgba(130, 171, 0, 0.5);
    --CIKOprimary-hover: #99c801;
    --CIKOprimary-hover-background: #b2e51a;
    --CIKOprimary-focus: rgba(130, 171, 0, 0.25);
    --CIKOprimary-inverse: #000;
    --CIKOswitch-color: var(--CIKObackground-color);
  }
}

/* Lime color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --CIKOtext-selection-color: rgba(130, 171, 0, 0.1875);
  --CIKOprimary: #82ab00;
  --CIKOprimary-background: #a5d601;
  --CIKOprimary-underline: rgba(130, 171, 0, 0.5);
  --CIKOprimary-hover: #99c801;
  --CIKOprimary-hover-background: #b2e51a;
  --CIKOprimary-focus: rgba(130, 171, 0, 0.25);
  --CIKOprimary-inverse: #000;
  --CIKOswitch-color: var(--CIKObackground-color);
}