/* Yellow color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --CIKOtext-selection-color: rgba(158, 146, 0, 0.25);
  --CIKOprimary: #756b00;
  --CIKOprimary-background: #f2df0d;
  --CIKOprimary-underline: rgba(117, 107, 0, 0.5);
  --CIKOprimary-hover: #5b5300;
  --CIKOprimary-hover-background: #e8d600;
  --CIKOprimary-focus: rgba(158, 146, 0, 0.25);
  --CIKOprimary-inverse: #000;
  --CIKOswitch-color: var(--CIKOsecondary-hover);
}

/* Yellow color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --CIKOtext-selection-color: rgba(173, 159, 0, 0.1875);
    --CIKOprimary: #ad9f00;
    --CIKOprimary-background: #f2df0d;
    --CIKOprimary-underline: rgba(173, 159, 0, 0.5);
    --CIKOprimary-hover: #caba01;
    --CIKOprimary-hover-background: #f8e861;
    --CIKOprimary-focus: rgba(173, 159, 0, 0.25);
    --CIKOprimary-inverse: #000;
    --CIKOswitch-color: var(--CIKObackground-color);
  }
}

/* Yellow color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --CIKOtext-selection-color: rgba(173, 159, 0, 0.1875);
  --CIKOprimary: #ad9f00;
  --CIKOprimary-background: #f2df0d;
  --CIKOprimary-underline: rgba(173, 159, 0, 0.5);
  --CIKOprimary-hover: #caba01;
  --CIKOprimary-hover-background: #f8e861;
  --CIKOprimary-focus: rgba(173, 159, 0, 0.25);
  --CIKOprimary-inverse: #000;
  --CIKOswitch-color: var(--CIKObackground-color);
}