---
export interface Props {
  title: string
  category?: string | undefined
}

const { title, category } = Astro.props
---

<div class=''>
  <h4>
    <span>{title.toLocaleUpperCase()}</span><small>{category}</small>
  </h4>
</div>

<style lang='scss'>
  div {
    padding: var(--spacing) 0;
  }

  h4 {
    width: fit-content;
    margin: 0;
    padding: 0 calc(var(--CIKOspacing) / 2);
    text-transform: uppercase;
    border: 2px solid var(--CIKOprimary);
  }

  small {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
</style>
