---
export interface Props {
  title: string
  category?: string | undefined
}

const { title, category } = Astro.props
---

<div>
  <h4>
    <button>
      <span>{title.toLocaleUpperCase()}</span><small>{category}</small>
    </button>
  </h4>
</div>

<style lang='scss'>
  div {
    padding-block: var(--spaceTB);
    padding-inline: 0;
  }

  h4 {
    width: fit-content;
    margin: 0;
    padding-block: 0;
    padding-inline: calc(var(--spaceLR) / 2);

    text-transform: uppercase;
    // border: 2px solid var(--currentTXTcolor);
  }

  small {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
</style>
