---
export interface Props {
  title: string
  category?: string | undefined
}

const { title, category } = Astro.props
---

<div class='card cardslim'>
  <h2 class='h4 post_title'>
    <span>{title.toLocaleUpperCase()}</span>
  </h2>
  <div class='category'><small>{category}</small></div>
</div>

<style lang='scss'>
  .card {
    padding: var(--spacing) 0;
  }

  .post_title,
  .category {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
</style>
