---
import { Image } from 'astro:assets'

export interface Props {
  title: string
  category?: string | undefined
  image: any
}

const { title, image, category } = Astro.props
---

<div class='card'>
  <div class='image_box'>
    <Image width={640} src={image} alt={title} format='avif' quality='low' />
  </div>

  <h3 class='title h5'>
    <span>{title.toLocaleUpperCase()}</span>
    <small class='category'>{category}</small>
  </h3>
</div>

<style lang='scss'>
  .category {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
  }
  small:not(empty) {
    color: black !important;
    padding: 1px 15px !important;
    border-radius: 5px !important;
    font-weight: 200;
    font-size: 50%;
  }
  .title {
    //h2
    margin: 0;
    padding: 0;
    span {
      //background-color: var(--currentTXT);
      padding: 0 5px;
      border: 2px solid black;
      color: black;
      body.black & {
        background-color: var(--gray);
      }
    }
  }

  // .text_box {
  //   position: absolute;
  //   width: 100%;
  //   bottom: 0.5rem;
  //   left: 0;
  //   pointer-events: none;
  //   z-index: 100;
  // }

  img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    max-width: 100vw;
    transition:
      filter 500ms ease-out,
      transform 250ms ease-out;
    transition-delay: 200ms; // anti-flickering trick
    transform: scale(1);
    transform-origin: center center;
    overflow: hidden;
    will-change: filter, transform;
    //padding-bottom: var(--spacing);
    overflow: hidden;

    @media (min-width: 565px) {
      filter: grayscale(100%);
    }

    &:hover {
      filter: grayscale(0%);
      transform-origin: center center;
      transform: scale(0.95);
    }
  }
</style>
