---
export interface Props {
  title: string
  category?: string | undefined
  outline?: any
}

const { title, category } = Astro.props
---

<h4 class='card_related'>
  <button>
    {title.toLocaleUpperCase()}
  </button>
  <small class='halfsize'>{category}</small>
</h4>

<style lang='scss'>
  .card_related {
    display: fit-content;
    width: fit-content;
    color: var(--currentTXTcolor);

    .halfsize {
      font-size: 50%;
      text-transform: uppercase;
    }
    // &.outline {
    //   padding: 0.25rem;
    //   // border: 2px solid transparent;
    //   width: auto;
    // }
  }
</style>
