---
export interface Props {
  title: string
  category?: string | undefined
}

const { title, category } = Astro.props
---

<div class='card cardslimslim'>
  <h2 class='h4 post_title'>
    {title.toLocaleUpperCase()}
  </h2>
  <div class='category'><small>{category}</small></div>
</div>

<style lang='scss'>
  .card {
    padding-block: var(--spaceTB);
    padding-inline: 0;
  }

  .post_title,
  .category {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
</style>
