---
import { Image } from 'astro:assets'

export interface Props {
  title: string
  category?: string | undefined
  image: any
}

const { title, image } = Astro.props
---

<div class="card_astro">
  <Image height={550} src={image[0]} alt={title} format="avif" quality="low" />

  <div class="text">
    <h2>
      {title.toLocaleUpperCase()}
    </h2>
  </div>
</div>

<style lang="scss">
  .metas,
  .desc,
  .subtitle {
    padding-top: 0.5rem;
    color: var(--contrast);
  }

  .title {
    font-size: calc(3vw + 3vh) !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  span {
    display: block;
  }

  .card_astro {
    padding-bottom: calc(var(--spacing) * 3);
  }
</style>
