---
export interface Props {
  title: string
  category?: string | undefined
  outline?: any
}

const { title, category } = Astro.props
---

<div class:list={['card card_button', { category: true }, ['outline']]}>
  <h2 class='h4 title'>
    {title.toLocaleUpperCase()}
  </h2>
  <small>{category}</small>
</div>

<style lang='scss'>
  .card {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    line-height: 1;
    padding-block: var(--spaceTB) 0;
    padding-inline: var(--spaceLF) 0;
    object-fit: contain;
    width: fit-content;
    &.outline {
      padding: 1rem;
      border: 2px solid white;
      width: auto;
    }
    .title {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
  }

  .category {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  small {
    font-size: 75%;
    font-weight: 900;
    background-color: color: var(--currentTXT);
    padding-block: 3px;
padding-inline: 5px;;
    margin-inline-start: 0.5rem;
    border: 2px solid black;
    color: black;
    body.black & {
      color: var(--currentTXT); // var(--currentBG);
      background-color: transparent;
      border-color: var(--currentBG);
    }
  }
</style>
