---
export interface Props {
  title: string
  category?: string | undefined
  outline?: any
}

const { title, category } = Astro.props
---

<div title={category} transition:name='title' class='card_related outline'>
  {title.toLocaleUpperCase()}
</div>

<style lang='scss'>
  .card_related {
    display: fit-content;
    width: fit-content;
    color: var(--primary);
    &.outline {
      padding: 0.25rem;
      border: 2px solid transparent;
      width: auto;
    }
  }
</style>
