---
import { Image } from 'astro:assets'

export interface Props {
  title: string
  category: string
  image: any
}

const { title, image, category } = Astro.props
---

<div class="card">
  <h2>
    <div class="post_title">
      {title.toLocaleUpperCase()}
      <small class="category">{category}</small>
    </div>
  </h2>

  <Image width={640} src={image} alt={title} format="avif" quality="low" />
</div>

<style lang="scss">
  .card {
  }

  h2 {
  }
  small {
    display: block;
  }
  img {
    filter: grayscale(100%);
    transition: filter;

    &:hover {
      filter: grayscale(0%);
    }
  }
</style>
