---
import { Image } from 'astro:assets'

export interface Props {
  title: string
  category?: string | undefined
  image: any
}

const { title, image, category } = Astro.props
---

<div class='card'>
  <div class='image_box'>
    <Image width={640} src={image} alt={title} format='avif' quality='low' />
  </div>

  <h2 class='title h5'>
    <button>{title.toLocaleUpperCase()}</button>
    <small class='category'>{category}</small>
  </h2>
</div>

<style lang='scss'>
  :root {
    --currentTXTcolor: black;
  }
  .category {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    padding-inline-start: 0.5rem;
  }
  small {
    font-size: 50%;
  }

  .title {
    //h2
    margin: var(--spaceTB) 0;
    padding: 0;
    span {
      padding-block: 0;
      padding-inline: 5px;
      // border: 2px solid black;
      color: black;
      body.black & {
        background-color: var(--gray);
      }
    }
  }

  .image_box img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    max-width: 100svw;
    transition:
      filter 500ms ease-out,
      transform 250ms ease-out;
    transition-delay: 200ms; // anti-flickering trick
    transform: scale(1);
    transform-origin: center center;
    overflow: hidden;
    will-change: filter, transform;
    overflow: hidden;

    @media (min-width: 565px) {
      filter: grayscale(100%);
    }

    &:hover {
      filter: grayscale(0%);
      transform-origin: center center;
      transform: scale(0.95);
    }
  }
</style>
