---
import { Image } from 'astro:assets'

export interface Props {
  title: string
  category?: string | undefined
  image: any
}

const { title, image, category } = Astro.props
---

<div class='card'>
  <div class='image_box'>
    <Image width={640} src={image} alt={title} format='avif' quality='low' />
  </div>
  <h2 class='h4 post_title'>{title.toLocaleUpperCase()}</h2>
  <div class='category'><small>{category}</small></div>
</div>

<style lang='scss'>
  .card {
    margin-top: var(--spacing);
    padding: var(--spacing) 0;
  }
  .image_box {
    overflow: hidden;
  }

  .post_title,
  .category {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
  }
  img {
    border-radius: var(--radius);
    width: 100%;
    max-width: 100vw;
    filter: grayscale(100%);
    transition:
      filter 500ms ease-out,
      transform 250ms ease-out;
    transition-delay: 200ms; // anti-flickering trick
    transform: scale(0.95);
    transform-origin: center center;
    overflow: hidden;
    will-change: filter, transform;
    padding-bottom: var(--spacing);
    overflow: hidden;

    &:hover {
      filter: grayscale(0%);
      transform-origin: center center;
      transform: scale(1);
    }
  }
</style>
