---
export interface Props {
  title: string
  category?: string | undefined
  outline?: any
}

const { title, category } = Astro.props
---

<div class:list={['card cardbutton', { category: true }, ['outline']]}>
  <h2 class='h4 title' transition:name='title'>
    {title.toLocaleUpperCase()}
  </h2>
  <small>{category}</small>
</div>

<style lang='scss'>
  .card {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    line-height: 1;
    padding: var(--spacing) 0;
    object-fit: contain;
    width: fit-content;
    &.outline {
      padding: 1rem;
      border: 2px solid white;
      width: auto;
    }
    .title {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
  }

  .category {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  small {
    font-size: 75%;
    font-weight: 900;
    background-color: color: var(--CIKOprimary);
    padding: 3px 5px;
    margin-left: 0.5rem;
    border: 2px solid black;
    color: black;
    body.black & {
      color: var(--CIKOprimary); // var(--CIKOcolor);
      background-color: transparent;
      border-color: var(--CIKOcolor);
    }
  }
</style>
