---
import { Image } from 'astro:assets'

export interface Props {
  title: string
  category: string
  image: any
}

const { title, image, category } = Astro.props
---

<div class="card_astro">
  <h2 class="title">
    <span class="postshout">
      {title.toLocaleUpperCase()}
      <span class="post_type">{category}</span>
    </span>
  </h2>

  <Image height={550} src={image} alt={title} format="avif" quality="low" />
</div>

<style lang="scss">
  .title {
    padding: 1rem 0;
    margin: 0;
    position: relative;
    top: 5rem;
    font-size: 1.25rem !important;
  }

  .card_astro {
    padding-bottom: calc(var(--spacing) * 3);
  }
</style>
