---
//Clients
import * as clients from '@data/clients.json'
const names = clients.clients

export interface names {
  name: string
}
---

<div class='container'>
  <h2>Clients</h2>
  {names.map((n) => n.name + ', ')}
</div>

<style>
  h2 {
    color: white;
    margin-bottom: 8px;
  }
</style>
