---
//Clients
import * as clients from '@data/clients.json'
const names = clients.clients

export interface names {
  name: string
}
---

<details>
  <summary role='button' class='contrast center uppercase sticky'
    >Clients</summary
  >
  <div class='container'>
    <br />
    <p>
      {names.map((n) => n.name + ', ')}
    </p>
    <br />
  </div>
</details>

<style>
  .container {
    max-width: 60ch;
    margin: 0 auto;
  }
  p {
    color: white;
  }
</style>
