---
//Clients
import * as clients from '@data/clients.json'
const names = clients.clients

export interface names {
  name: string
}
---

<div class='container'>
  <h3>Clients</h3>
  {names.map((n) => n.name)}
  <br />
</div>

<style>
  .container {
    max-width: 60ch;
    margin: 0 auto;
  }
  p {
    color: var(--primary);
  }
</style>
