---
import * as repoData from 'package.json'
import * as siteData from '@data/site.json'

const today = new Date()
---

<article class='copy_block'>
    <small>
      Copyright &copy; 2000-{today.getFullYear()} Rokma. All rights reserved. <br
        class='break_on_phones'
      />
       v{repoData.version}. Powered by
      <a
        class='producer'
        title='producer'
        target='_blank'
        href={siteData.producer.url}
      >
        {siteData.producer.name}
      </a>
    </small>
</article>

<style >
  .producer {
    //a
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-skip-ink: auto;
    text-decoration-color: white;
    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--text-decoration-color--nav);
    }
  }
  .copy_block {
    padding-block-end: 2rem;
  }

  @layer components {
    details {
      padding-block: 0;
    }

    details > summary {
      .status::after {
        display: inline;
        content: '©';
      }
    }

    details[open] > summary {
      .status::after {
        display: inline;
        content: '';
      }
    }
  }

  .break_on_phones {
    display: none;
    @media only screen and (min-width: 400px) {
      display: block;
    }
  }
  .status {
    width: 100%;
  }
</style>
