---
import * as repoData from 'package.json'
import * as siteData from '@data/site.json'

const today = new Date()
---

<small>
  Copyright &copy; 2012-{today.getFullYear()} Rokma. All rights reserved. v{
    repoData.version
  }. Powered by
  <a
    class='producer'
    title='producer'
    target='_blank'
    href={siteData.producer.url}
  >
    {siteData.producer.name}
  </a>
</small>

<style lang='scss'>
  .producer {
    //a
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-skip-ink: auto;
    text-decoration-color: white;
    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--text-decoration-color--nav);
    }
  }
</style>
