---
//EditorialClients
import * as clients from '@data/editorial_clients.json'
const names = clients.clients

export interface names {
  name: string
}
---

<details>
  <summary role='button' class='contrast center uppercase sticky'
    >Editorial Clients</summary
  >
  <div class='container'>
    <br />
    {names.map((n) => n.name + ', ')}
  </div>
  <br />
</details>

<style>
  h2 {
    color: white;
    margin-bottom: 8px;
  }
  .container {
    max-width: 60ch;
    margin: 0 auto;
  }
</style>
