---
//EditorialClients
import * as clients from '@data/editorial_clients.json'
const names = clients.clients

export interface names {
  name: string
}
---

<div class='container'>
  <h2 class='centre'>Editorial Clients</h2>
  {names.map((n) => n.name + ', ')}
</div>

<style>
  h2 {
    color: white;
    margin-bottom: 8px;
  }
  .container {
    max-width: 60ch;
    margin: 0 auto;
  }
</style>
