---
//EditorialClients
import * as clients from '@data/editorial_clients.json'
const names = clients.clients

export interface names {
  name: string
}
---

<div class='container'>
  <h3>Editorial Clients</h3>
  <br />

  {names.map((n) => n.name + ', ')}
</div>

<br />

<style>
  h2 {
    color: var(--CIKOprimary);
    margin-bottom: 8px;
  }
  .container {
    max-width: 60ch;
    margin: 0 auto;
  }
</style>
