---

---

<slot name='footer' />
<div class='container'>
  <hr />
  <small class='uppercase'>
    Copyright or left, till you Copy you ain't nothing.
  </small>
</div>
<br />
<br />

<style lang='scss'></style>
