---

---

<slot name='footer' />
<div class='container'>
  <hr />
  <small class='uppercase'
    >Copyright or Copyleft, till you Copy you ain't useful.</small
  >
  <br />
  <br />
</div>
<style lang='scss'>
  :root {
    --color: rgb(164, 164, 164) !important;
  }
  footer {
    background-color: var(--color);
    filter: invert(100%) hue-rotate(90);
  }
</style>
