---

---

<slot name='footer' />
<div class='container'>
  <hr />
  <small class='uppercase'>
    Rokma &copy; Copyright or left, till you copy you shss...
  </small>
</div>
<br />
<br />

<style lang='scss'></style>
