---
import * as siteData from '@data/site.json'
import { Icon } from 'astro-icon'
import NavButton from '@components/NavButton.astro'
import NavBackgroundImage from '@components/NavBackgroundImage.astro'
import NavContacts from '@components/NavContacts.astro'
import NavLinks from '@components/NavLinks.astro'
---

<NavButton />

<input type='checkbox' id='nav' />

<div class='sidebar'>
  <NavBackgroundImage />

  <label for='nav' class='toggle'>
    <Icon name='x' />
  </label>

  <a class='go_home' href='/' title='close navigation and go back to home page'>
    <h1>{siteData.title}</h1>
  </a>

  <p class='tagline h4'>{siteData.tagline}</p>

  <NavLinks />

  <NavContacts />
</div>

<style lang='scss'>
  :root {
    --sidebar_width: 100svw;
  }

  .go_home {
    padding-top: 1rem;
  }

  h1 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .tagline {
    padding-top: 0;
  }

  .sidebar {
    --currentTXTcolor: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    min-width: 100svw;
    min-height: 100svh;
    margin: 0;
    padding: 0;
    text-align: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;

    overflow-y: scroll;
    color: var(--currentTXTcolor);
    background-color: #000;

    h1,
    h2 {
      text-transform: uppercase;
    }

    .avatar img {
      border-radius: 50%; //opera mini issue here
      margin: 1rem auto;
      width: 50%;
    }
  }

  #nav {
    display: none;
  }

  label.toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: block;

    width: 48px;
    height: 48px;
    display: block;
    cursor: pointer;
    text-align: center;
    color: var(--currentTXTcolor);
    .black & {
      color: var(--currentBG);
    }
  }

  .sidebar,
  .wrap {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .toggle {
    user-select: none;
  }

  #nav:checked + .sidebar {
    z-index: 101;
    visibility: visible;
  }

  body:has(#nav:checked) {
    overflow: hidden;
  }
</style>
