---
import * as siteData from '@data/site.json'
import { Icon } from 'astro-icon'
import NavButton from '@components/NavButton.astro'
import NavContacts from '@components/NavContacts.astro'
import NavLinks from '@components/NavLinks.astro'
import Copy from '@components/Copy.astro'

import { getImage } from 'astro:assets'
import rokmAvatar from '@p/00.jpg'

const optimizedBackground = await getImage({
  src: rokmAvatar,
  format: 'avif',
  quality: 'high'
})
---

<NavButton />

<input type='checkbox' id='nav' />
<div class='sidebar'>
  <label for='nav' class='toggle'>
    <Icon name='x' />
  </label>

  <article class='top centre'>
    <a
      class='go_home'
      href='/'
      title='close navigation and go back to home page'
    >
      <h1>{siteData.title}</h1>
    </a>

    <h2 class='h4 hide_on_phones'>{siteData.tagline}</h2>
  </article>

  <div class='middle'>
    <div class='middle_scroller'>
      <NavLinks />
    </div>
  </div>

  <div class='bottom centre'>
    <NavContacts />

    <Copy />
  </div>
</div>

<style lang='scss'>
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeinout {
    0%,
    100% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.75;
    }
  }
  :root {
    --sidebar_width: 100svw;
  }

  .sidebar {
    position: fixed;
    min-width: 100svw;
    min-height: 100svh;
    margin: 0;
    padding: 0;
    display: grid;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;

    overflow-y: scroll;
    color: white;
    background-color: #000;

    // width: var(--sidebar_width);
    // left: calc(100svw - var(--sidebar_width));

    a,
    h1,
    h2 {
      font-weight: 400;
      margin-block-end: 0;
    }

    .avatar img {
      border-radius: 50%; //opera mini issue here
      margin: 1rem auto;
      width: 50%;
    }
  }

  .top {
    padding-block-start: 1.75rem;
    align-self: top;
  }

  .middle {
    width: 100svw;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: max-content;
    .middle_scroller {
      width: 100svw;
      margin: 0 auto;
    }
  }

  .bottom {
    align-self: flex-end;
    bottom: 0;
    padding: 1rem;
  }

  #nav {
    display: none;
  }

  label.toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: block !important;

    width: 48px;
    height: 48px;
    display: block;
    cursor: pointer;
    text-align: center;
    color: var(--currentTXT);
    .black & {
      color: var(--currentBG);
    }
  }

  .sidebar,
  .wrap {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .toggle {
    user-select: none;
  }

  #nav:checked + .sidebar {
    z-index: 101;
    visibility: visible;
  }

  body:has(#nav:checked) {
    overflow: hidden;
  }
</style>
