---
import { ViewTransitions } from 'astro:transitions'
import * as siteData from '@data/site.json'
import { Icon } from 'astro-icon'
import NavButton from '@components/NavButton.astro'
import NavContacts from '@components/NavContacts.astro'
import NavLinks from '@components/NavLinks.astro'
import Copy from '@components/Copy.astro'

import { getImage } from 'astro:assets'
import rokmAvatar from '@p/00.jpg'

const optimizedBackground = await getImage({
  src: rokmAvatar,
  format: 'avif',
  quality: 'high'
})
---

<ViewTransitions />
<NavButton />

<input type='checkbox' id='nav' />

<div class='sidebar'>
  <div
    style={`
    background-image: url(${optimizedBackground.src});
    background-position: center center;
    background-size: cover; width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(77%);
    animation: linear fadeinout 12s infinite;
    `}
  >
  </div>

  <label for='nav' class='toggle'>
    <Icon name='x' />
  </label>

  <div class='top centre'>
    <a
      class='go_home'
      href='/'
      title='close navigation and go back to home page'
      transition:name='title'
      transition:persist><h1>{siteData.title}</h1></a
    >

    <h2 class='h4 hide_on_phones'>{siteData.tagline}</h2>
  </div>

  <div class='middle'>
    <div class='middle_scroller'>
      <NavLinks />
    </div>
  </div>

  <div class='bottom centre'>
    <NavContacts />

    <Copy />
  </div>
</div>

<style lang='scss'>
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeinout {
    0%,
    100% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.75;
    }
  }
  :root {
    --sidebar_width: 100vw;
  }

  .sidebar {
    //padding: 3rem 8px 1.5rem 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow-y: scroll;
    color: white;
    background-color: #000;

    position: fixed;
    top: 0;
    bottom: 0;
    visibility: hidden;

    width: var(--sidebar_width);
    left: calc(100vw - var(--sidebar_width));

    a,
    h1,
    h2 {
      font-weight: 400;
      color: white !important;
      margin-bottom: 0;
    }

    .avatar img {
      border-radius: 50%; //opera mini issue here
      margin: 1rem auto;
      width: 50%;
    }
  }

  .top {
    padding-top: 1.75rem;
    padding-bottom: 0.5rem;
  }

  .middle {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: max-content;
    max-height: calc(100vh - 100px);
    .middle_scroller {
      width: 100dvw;
      margin: 0 auto;
    }
  }

  .bottom {
    height: 100px;
    bottom: 1rem;
    padding: 10px 0.5rem;
  }

  #nav {
    display: none;
  }

  label.toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: block !important;

    width: 48px;
    height: 48px;
    display: block;
    cursor: pointer;
    text-align: center;
    color: var(--primary);
    .black & {
      color: var(--primaryBG);
    }
  }

  .sidebar,
  .wrap {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .toggle {
    user-select: none;
  }

  #nav:checked + .sidebar {
    z-index: 101;
    visibility: visible;
  }

  body:has(#nav:checked) {
    overflow: hidden;
  }
</style>
