---
import { getImage } from 'astro:assets'
import rokmAvatar from '@p/00.jpg'

const optimizedBackground = await getImage({
  src: rokmAvatar,
  format: 'avif',
  quality: 'high'
})
---

<div
  style={`
    background-image: url(${optimizedBackground.src});
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100svh;
    position: absolute;
    z-index: -1;
    filter: brightness(77%);
    animation: linear fadeinout 12s infinite;
    `}
>
</div>
