---

---

<div
  style={`
    background-image: url(${optimizedBackground.src});
    background-position: center center;
    background-size: cover;
    width: 100svw;
    height: 100svh;
    position: absolute;
    z-index: -1;
    filter: brightness(77%);
    animation: linear fadeinout 12s infinite;
    `}
>
</div>
