---
import { Icon } from 'astro-icon'
---

<label for='nav' class='toggle' transition:name='spinOUT'>
  <Icon name='nav' class='open_nav_button' />
</label>

<style lang='scss'>
  .toggle svg {
    color: inherit !important;
    fill: var(--primary) !important;
    background-color: transparentize(LawnGreen, 0.2) !important;
    backdrop-filter: blur(5px);
  }

  label.toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: block !important;

    width: 48px;
    height: 48px;
    display: block;
    cursor: pointer;
    text-align: center;
  }
</style>
