---
import * as navigation from '@data/navigation.json'
import * as siteData from '@data/site.json'
const sections = navigation.sections

export interface sections {
  label: string
}
---

<nav class=''>
  {
    sections.map((section) => (
      <a
        rel='prefetch'
        class={section.label}
        href={'/' + section.label + '/'}
        title={siteData.description}
      >
        <button class='outline'>{section.label.toUpperCase()}</button>
      </a>
    ))
  }
</nav>

<style lang='scss'>
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80dvw;
    max-width: 400px;
    margin: 0 auto;
  }
  a {
    color: white !important;
    display: block;
    &:hover button {
      background-color: var(--text-decoration-color--nav-links);
    }
  }
  button {
    color: white !important;
    border-color: white;
    margin-bottom: calc(var(--spacing) / 2);
    display: block;
  }
</style>
