---
import * as navigation from '@data/navigation.json'
import * as siteData from '@data/site.json'

const sections = navigation.sections

export interface sections {
  label: string
}
---

<nav>
  {
    sections.map((section) => (
      <a
        role='button'
        rel='prefetch'
        class={section.label}
        href={'/' + section.label + '/'}
        title={siteData.description}
      >
        {section.label.toUpperCase()}
      </a>
    ))
  }

  <a
    role='button'
    rel='prefetch'
    class='about_button'
    href='/about/'
    title='About Rokma'
  >
    ABOUT
  </a>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    margin: 0 auto;
  }
  a {
    display: block;
    text-decoration: none;
    width: 100%;
    margin-top: var(--spaceTB);
  }
</style>
