---
import * as navigation from '@data/navigation.json'
import * as siteData from '@data/site.json'

const sections = navigation.sections

export interface sections {
  label: string
}
---

<nav class=''>
  {
    sections.map((section) => (
      <a
        rel='prefetch'
        class={section.label}
        href={'/' + section.label + '/'}
        title={siteData.description}
      >
        <button class='pop'>{section.label.toUpperCase()}</button>
      </a>
    ))
  }

  <a rel='prefetch' class='about_button' href='/about/' title='About Rokma'>
    <button class='pop'>ABOUT</button>
  </a>
</nav>

<style lang='scss'>
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    margin: 0 auto;
  }
  a {
    display: block;
    text-decoration: none;
    //width: -webkit-fill-available;
    width: 100%;
    &:hover button {
      background-color: var(--text-decoration-color--nav-links);
    }
  }
  // button {
  //   border: 2px solid white;
  //   //display: block;
  //   width: 100%;
  //   background-color: transparent;
  //   font-size: 100%;
  // }
</style>
