---
import SidebarStylo from '@components/SidebarStylo.astro'
---

<nav class="sidebar-nav">
  <!--
  {% for link in site.data.navigation %}
    <a class="sidebar-nav-item" title="see Rokma's {{ link.section }} works" href="{{ site.baseurl }}/{{ link.section }}/">{{ link.section }}</a>
  {% endfor %} -->
</nav>

<SidebarStylo />
