---
import { Icon } from 'astro-icon'
import SidebarStylo from '@components/SidebarStylo.astro'
---

<SidebarStylo />

<div class="sidebar-toggle-button">
  <label for="sidebar-checkbox" class="sidebar-toggle">
    <Icon name="nav" />
  </label>
</div>
