---
import * as testimonials from '@data/testimonials.json'
const quotes = testimonials.quotes

export interface quotes {
  quote: string
  url: string
  name: string
}
---

<article class='phrases'>
  <h3 class='h4 uppercase'>What clients are saying</h3>
  {
    quotes.map((quote) => (
      <blockquote>
        "{quote.quote}"
        <footer>
          <cite>
            — {quote.name} - Founder of
            <a href={quote.url}>{quote.brand}</a>
          </cite>
        </footer>
      </blockquote>
    ))
  }
</article>
