---
import * as testimonials from '@data/testimonials.json'
const quotes = testimonials.quotes

export interface quotes {
  quote: string
  url: string
  name: string
}
---

<article class='phrases'>
  <h3 class='h4 uppercase'>What are Rokma's clients saying.</h3>
  {
    quotes.map((quote) => (
      <>
        <div class='space' />
        <blockquote>
          "{quote.quote}"
          <br />
          <cite>
            {quote.name} — <a href={quote.url}>{quote.brand}</a>
          </cite>
        </blockquote>
      </>
    ))
  }
</article>

<style>
  blockquote {
    width: 90%;
  }
</style>
