/* Yellow color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --text-selection-color: rgba(158, 146, 0, 0.25);
  --currentTXT #756b00;
  --currentBG #f2df0d;
}

/* Yellow color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    --text-selection-color: rgba(173, 159, 0, 0.1875);
    --currentTXT #ad9f00;
    --currentBG #f2df0d;
  }
}

/* Yellow color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --text-selection-color: rgba(173, 159, 0, 0.1875);
  --currentTXT #ad9f00;
  --currentBG #f2df0d;
}