/* Yellow color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
  --text-selection-color: rgba(158, 146, 0, 0.25);
  --primary: #756b00;
  --primary-background: #f2df0d;
  --primary-underline: rgba(117, 107, 0, 0.5);
  --primary-hover: #5b5300;
  --primary-hover-background: #e8d600;
  --primary-focus: rgba(158, 146, 0, 0.25);
  --primary-inverse: #000;
  --switch-color: var(--secondary-hover);
}

/* Yellow color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --text-selection-color: rgba(173, 159, 0, 0.1875);
    --primary: #ad9f00;
    --primary-background: #f2df0d;
    --primary-underline: rgba(173, 159, 0, 0.5);
    --primary-hover: #caba01;
    --primary-hover-background: #f8e861;
    --primary-focus: rgba(173, 159, 0, 0.25);
    --primary-inverse: #000;
    --switch-color: var(--background-color);
  }
}

/* Yellow color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --text-selection-color: rgba(173, 159, 0, 0.1875);
  --primary: #ad9f00;
  --primary-background: #f2df0d;
  --primary-underline: rgba(173, 159, 0, 0.5);
  --primary-hover: #caba01;
  --primary-hover-background: #f8e861;
  --primary-focus: rgba(173, 159, 0, 0.25);
  --primary-inverse: #000;
  --switch-color: var(--background-color);
}