// USE THIS FILE [blackandwhite.scss] COMPONENT
// TO CUSTOMIZE FIKO LOOK FOR THIS PROJECT.

/* Zinc color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --text-selection-color: rgba(136, 145, 164, 0.25);
  --currentTXT: hsl(220, 10%, 43%);
  --currentBG: #000;
  --current-underline: hsla(220, 10%, 43%, 0.5);
  --current-hover: #4d535e;
  --current-hover-background: #5c6370;
  --current-focus: rgba(136, 145, 164, 0.25);
  --current-inverse: #fff;
}

/* Zinc color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --text-selection-color: rgba(150, 158, 175, 0.1875);
    --current: #969eaf;
    --current-background: #646b79;
    --current-underline: rgba(150, 158, 175, 0.5);
    --current-hover: #b3b9c5;
    --current-hover-background: #6f7887;
    --current-focus: rgba(150, 158, 175, 0.25);
    --current-inverse: #fff;
  }
}

/* Zinc color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --text-selection-color: rgba(150, 158, 175, 0.1875);
  --current: #969eaf;
  --current-background: #646b79;
  --current-underline: rgba(150, 158, 175, 0.5);
  --current-hover: #b3b9c5;
  --current-hover-background: #6f7887;
  --current-focus: rgba(150, 158, 175, 0.25);
  --current-inverse: #fff;
}
