---
import { Icon } from 'astro-icon'
---

<label for='nav' class='toggle'>
  <Icon name='nav' class='open_nav_button' />
</label>

<style>
  .toggle svg {
    color: inherit;
    fill: var(--currentTXTcolor);
    background-color: (lawngreen);
    backdrop-filter: blur(5px);
    border-radius: var(--radius);
  }

  label.toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: block;

    width: 48px;
    height: 48px;
    display: block;
    cursor: pointer;
    text-align: center;
  }
</style>
